// Colors
$darkBlueBg: hsl(233, 47%, 7%);
$cardBlueBg: hsl(244, 38%, 16%);
$violetAccent: hsl(277, 64%, 61%);
$mainWhite: hsl(0, 0%, 100%);
$paragraphWhite: hsla(0, 0%, 100%, 0.75);
$headingsWhite: hsla(0, 0%, 100%, 0.6);

// Fonts
$inter: "Inter", sans-serif;
$lexendDeca: "Lexend Deca", sans-serif;
$regular: 400;
$bold: 700;

// Screen sizes
$mobileScreen: 768px;
$desktopScreen: 1360px;
